*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.contact-information .address .link,
.features-text,
.team-text,
.portfolio-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-text {
  margin-bottom: 8px;
}

.contact-information {
  font-style: normal;
}
.address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information .address .link:hover,
.address .link:focus {
  color: #404bbf;
}

.logo-header {
  width: 115px;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
  margin-right: 76px;
}

.logo-header span {
  color: #2e2f42;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  text-decoration: none;
}

.logo-footer .studio {
  color: #f4f4fd;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-team .team-item .card-name,
section .features-list .features-header,
section .portfolio-card-header {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
}

footer,
.hero {
  background-color: #2e2f42;
}

.hero {
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.header-team,
.portfolio-header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-team {
  background-color: #f4f4fd;
}

.section-team .team-item {
  background-color: #ffffff;
}

.header-container,
.nav-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.page-nav {
  display: flex;

  gap: 40px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.hero-container {
  margin: 0 auto;
  text-align: center;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

/* .section-first {
  padding: 188px 0;
} */

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100%-72px) / 4);
}

.features-header {
  margin-bottom: 8px;
}

.section {
  padding: 120px 0;
}

/* .list-second-section .item:not(:last-child),
.our-team .team-item:not(:last-child) {
} */

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-team-card {
  padding: 32px 0px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item:nth-child(-n + 3) {
  margin-bottom: 48px;
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.container-portfolio-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  text-align: left;
}

.portfolio-card-header {
  margin-bottom: 8px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-section {
  padding: 100px 0;
}

.footer-text {
  width: 264px;
}

.footer-input {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: left;
  background-color: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
}

.button-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
}

.footer-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.footer-input::placeholder {
  color: #ffffff;
  font-weight: 400;
}

.team-media-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon {
  fill: #f4f4fd;
}

.footer-link > .icon {
  fill: #f4f4fd;
}

/* color: #f4f4fd; */

.team-social {
  width: 40px;
  height: 40px;
}

.media-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: #404bbf;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-link-icons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-form {
  /* display: block; */
  margin-left: 80px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.form-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

/* .form-label {
  margin-right: 24px;
  max-width: 264px;
} */

.footer-left {
  margin-right: 120px;
}

.footer-text-right {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.footer-social {
  width: 40px;
  height: 40px;
}

.footer-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social .footer-link:hover,
.footer-social .footer-link:focus {
  background-color: #31d0aa;
}

.feature-icon-container {
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.nav-menu .page-nav .active {
  position: relative;
  color: #404bbf;
}

.nav-menu .page-nav .active::after {
  position: absolute;
  content: "";

  color: #404bbf;
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  display: block;
  background-color: #404bbf;
  border-radius: 2px;
}

.modal-overlay {
  background-color: #2e2f4266;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  /* translate(-50%, -50%):
Первое -50%: смещает элемент по горизонтали (влево) на половину его собственной ширины.
Второе -50%: смещает элемент по вертикали ((вверх) на половину его собственной высоты. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  fill: #ffffff;
  border: none;
  background-color: #404bbf;
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #0000001a;
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

/* .modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.modal-label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: transparent;
  border-radius: 4px;
  padding-left: 38px;

  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-container {
  margin-bottom: 8px;
}
.modal-input:hover,
.modal-input:focus {
  border-color: rgba(77, 90, 229, 1);
}

.modal-input:hover + .modal-icon-form,
.modal-input:focus + .modal-icon-form {
  fill: #4d5ae5;
}

/* .modal-input:focus-within {
  border: 1px solid #4d5ae5;
} */
.text-window {
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  resize: none;
  height: 120px;
  width: 100%;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-window:hover,
.text-window:focus {
  border-color: #4d5ae5;
}

.modal-text-container {
  margin-bottom: 16px;
}

.modal-input-container {
  position: relative;
}

.modal-icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.privicy-link {
  color: #4d5ae5;
}

.modal-send-btn {
  display: block;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.hidden-checkbox:checked + .policy-label .custom-checkbox {
  background-color: rgba(64, 75, 191, 1);
  fill: rgba(244, 244, 253, 1);
  border: none;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
